*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--blue: #1e90ff

}
body{
    background-color: var(--blue);
}
#nav{
    width: 100%;
    background: #000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
}
#logo {
    color: var(--blue);
    border: 2px solid var(--blue);
    width: 100px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav-link{
    display: flex;
    align-items: center;
    gap: 2px;
}
#nav-link ul{
    display: flex;
    gap: 80px;
    border: 2px solid var(--blue);
    list-style: none;
    padding: 5px 10px;

}






#btn{
    background-color: transparent;
    border: 2px solid var(--blue);
    padding: 7px
}
#btn a{
    color: var(--blue);
    padding: 0 5px;
}